<p>Body: </p><%= @message.body %>
<p>Timer: </p><%= @message.timer %>
<p>Id: </p><%= @message.id %>
<p>Link: </p><%= @message.link %>
<p>This is the link on your message: </p><%= message_url(@message) %>